@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: url('../fonts/BRANDON_BLD.OTF') format('OpenType');
}

html, body {
	height: 100%;
	font-family:"Brandon Grotesque Bold", "微軟正黑體", "Microsoft JhengHei";
}
.align-center {
	text-align: center;
}
.bg-brown {
	background-color:#E4C392;
}

/***INDEX***/
.text-light{
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 5px;
}
#index-logo {
	margin: 50px;
	width: 255px;
	height: 245px;
}



/***NAVBAR***/
nav {
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
	text-align: right;
}
.nav-text-light, .nav-text-dark {
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 4px;
}
.nav-text-light:hover, .nav-text-dark:hover {
	color:#000000;
	text-decoration: none;
}
.nav-text-light:active, .nav-text-dark:active {
	text-decoration: none;
}
.nav-bar{
	color:#886600;
}
.nav-text-light, .nav-text-light:active{
	color: #FFFFFF;
}
hr.light{
	border: 0;
	border-top: 1px solid #886600;
}
.nav-text-dark, .nav-text-dark:active {
	color: #C1A685;
}
hr.dark{
	border: 0;
	height: 1px;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}







/*p3的展覽名稱與展覽清單字體*/
.p3{color: #9C856E;font-size: 16px;letter-spacing: 4px;}
.p3name{color: black;font-size: 16px;letter-spacing: 4px;font: thin;}

/*p5的字體*/
.p5{color: #8C735E;font-size: 16px;letter-spacing: 4px;}

/*p6的字體*/
.p6{color: #000000;font-size: 17px;letter-spacing: 4px;font: thin;}

/*p5*/
.game{
	width: 100px;
	height: 40px;
	background-color: #BEA274;
	text-align: center;
	letter-spacing: 4px;
	color: white;
	border-radius: 4px;
	border: none;
	transition: all 0.5s;
	cursor: pointer;
	padding: 10px;
}
.game span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.game span:after{
	content: '+';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -10px;
	transition: 0.5s;
}
.game span:hover{
	padding-right: 15px;
}
.game:hover span:after{
	opacity: 1;
	right: 0;
}
.gamebtn{
	background-color: white;
	border: 0px white none;
}