@font-face{
  font-family: 'Brandon Grotesque Regular';
  src: url('../fonts/BRANDON_REG.OTF') format('OpenType');
}
@font-face{
  font-family: 'Brandon Grotesque Bold';
  src: url('../fonts/BRANDON_BLD.OTF') format('OpenType');
}

html, body{
	height: 100%;
	font-family:"Brandon Grotesque Regular", "微軟正黑體", "Microsoft JhengHei";
	text-align: center;
}

.button-exvisition{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 0px;

	color: #fff;
	background-color: #BEA274;
}
.button-exvisition:link,
.button-exvisition:visited {
	color: #BEA274;
	text-decoration: none;
}
.button-exvisition:hover,
.button-exvisition:active{
	color: #fff;
    background-color: #D2BBA0;
	text-decoration: none;
}



/*********INDEX*********/
#bg-index{
	background-image: url("../img/bg1.png");
	   -moz-background-size:cover;
	-webkit-background-size:cover;
         -o-background-size:cover;
	background-size:cover;
}
#bg-index-s{
	margin-top: 3%;
	height:600px;
	background-image: url("../img/bg2.png");
	   -moz-background-size:100% 100%;
	-webkit-background-size:100% 100%;
         -o-background-size:100% 100%;
	background-size:100% 100%;
}
.index-input{
	border: 0;
	background-color:rgba(255, 255, 255, 0.5)
}
.index-input::-moz-placeholder {
  color: #C7AA74;
  opacity: 1;
}
.index-input:-ms-input-placeholder {
  color: #C7AA74;
}
.index-input::-webkit-input-placeholder {
  color: #C7AA74;
}

#button-index{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 0px;

	color: #C7AA74;
	font-size: bold;
	background-color:rgba(255, 255, 255, 0.5);
}
#button-index:hover,
#button-index:active{
	color: black;
    background-color:rgba(255, 255, 255, 0.7);
	text-decoration: none;
}

#index-logo{
	margin-top: 100px;
	margin-bottom: 70px;
	width: 200px;
}
/*****EDIT-PROFILE******/
.bg-brown{
	background-color:#E4C392;
}
.text-light{
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 5px;
}

/****LIST-EXHIBITION****/
#member-logo{
	max-width: 300px;
	margin: 50px;
}
#add-exhibition{
	margin-bottom: 10px;
	margin-right: 50px;
	text-align: right;
}
.exhibition-box{
	width: 700px;
	height: 50px;
	margin: 5px;
	background-color: #9C856E;
	color: #FFFFFF;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: left;
}
.exhibition-box .date{
	padding-top: 25px;
	padding-left: 5px;
	padding-right: 2px;
}
.exhibition-box .name{
	padding-top: 15px;
	font-size: 16px;
}
.exhibition-box .edit{
	padding-top: 17px;
	text-align: right;
}
.exhibition-box .edit a{
	padding:3px;
	color: #FFFFFF;
}
/****EDIT-EXHIBITION****/
.edit-control{
	margin-top: 20px;
	padding-right: 15px
}
.exhibition-title{
	color: #8C735E;
	font-size: 20px;
	font-weight: 600;
}
#item-list-title{
	margin-top: 10px;
	margin-bottom: 0px;
}
.item-list-box{
	border-width: 0.8px;
	border-color: #8C735E;
	border-style:solid;
	padding: 30px 16px;
	margin-bottom: 100px;
}
.item-box{
	width: 700px;
	height: 50px;
	margin: 5px;
	background-color: #9C856E;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
}
.item-box h4{
	color: #8C735E;
}
.item-box .name{
	padding-top: 15px;
	font-size: 15px;
}
.item-box .edit{
	padding-top: 17px;
	padding-right: 10px;
	padding-left: 0px;
	text-align: right;
}
.item-box .edit a{
	padding:3px;
	color: #FFFFFF;
}
.item-title{
	color: #8C735E;
	font-size: 16px;
	font-weight: 600;
}
.item-text{
	color: #000;
}
/***NAVBAR***/
nav {
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
	text-align: right;
}
.nav-bar{
	color:#886600;
	padding-right: 4px;
	padding-left: 1px;
}
.nav-text-light,
.nav-text-dark {
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 4px;
}
.nav-text-light:link,
.nav-text-light:visited{
	color: #FFFFFF;
	text-decoration: none;
}
.nav-text-dark:link,
.nav-text-dark:visited {
	color: #C1A685;
	text-decoration: none;
}
.nav-text-light:hover,
.nav-text-dark:hover {
	color:#000000;
	text-decoration: none;
}
.nav-text-light,
.nav-text-light:active{
	color: #FFFFFF;
	text-decoration: none;
}
.nav-text-dark,
.nav-text-dark:active {
	color: #C1A685;
	text-decoration: none;
}
hr{
	margin-top: 15px;
	border: 0;
	border-top: 1px solid #886600;
}